.creditCard {
  background-image: url('images/earth.jpg');
  background-repeat:no-repeat; 
  width: 48%;
  align-self: center;
  margin-left: 35%;
  margin-top: 10%;
  border-radius: 10%;
}
.creditCard p,h1,h4 {
  color:white;
}
